#ruby {

	width: 100px;
	height: 100px;
}

#sapphire {

	width: 100px;
	height: 100px;

}

#emerald {

	width: 100px;
	height: 100px;

}

#topaz {

	width: 100px;
	height: 100px;

}

h1 {
    color: black;
    text-align: center;
    font-size: 64px;
	font-family: 'Dancing Script', cursive;

}

h2 {
    color: black;
    font-size: 44px;
    font-family: 'Dancing Script', cursive;
}

#instructionBox {
    text-align: center;
}

#instructions {
    font-size: 26px;
    padding: 30px;
}